.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.image-gallery>li {
    flex-basis: 400px;
    /* width: 350px; */
}

.image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.img-magnifier-container {
    position: relative;
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
}

.gallery {
    width: 80%;

    margin-left: 10%;
    text-align: center;
}

.gallery .more {
    padding: 30px;
    background-color: #25282a;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    margin-left: 45%;
    background-color: #303437;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #25282a;
}

.contact {
    width: 80%;

    margin-left: 10%;
    padding: 20px;
    background-color: #f2f2f2;
}